<div class="card">
    <div class="card-body">
      <h1 class="card-title">CSS LINK</h1>
      <p><b><a href="default.asp" target="_blank">This is a link</a></b></p>
    </div>

    <div class="card-body">
        <h1 class="card-title">CSS LIST</h1>
        <ul class="a">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coca Cola</li>
        </ul>
    </div>

    <div class="card-body">
        <h1 class="card-title">DISPLAY INLINE</h1>
        <ul class="a">
            <li><a href="/html/default.asp" target="_blank">HTML</a></li>
            <li><a href="/css/default.asp" target="_blank">CSS</a></li>
            <li><a href="/js/default.asp" target="_blank">JavaScript</a></li>
        </ul>
    </div>

 </div>

 <body>
     <div class="container">
        <h1 class="card-title">POSITION</h1>
        <div class="box" id="box1">relative position</div>
        <div class="box" id="box2">sticky</div>
        <div class="box" id="box3">fixed position</div>
        <div class="box" id="box4">absolute position</div>
     </div>
    

 </body>