<div class="card">
    <div class="card-body">
      <h1 class="card-title">CSS TEXT</h1>
      <p class="text">A dotted border.</p>
      <div class="justify">
        In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 
        'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'
      </div>

      <div class="text-align-last">
        In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 
        'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'
      </div>

      <div class="direction">
        In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 
        'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'
      </div>

      <div class="decoration">
        <p class="dec1">A link with no underline: <a href="https://www.w3schools.com">W3Schools.com</a></p>
      </div>

      <div class="indent">
        In         my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 
        'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'
      </div>

    </div>