<div class="card">
    <div class="card-body">
        <h1 class="card-title">CSS 2D TRANSFORM PROPERTY</h1>
        <body>
            <div class="translate">
                translate
            </div>
            <div class="rotate">
                rotate
            </div>
            <div class="scale">
                scale
            </div>
            <div class="scalex">
                scaleX
            </div>
            <div class="scaley">
                scaleY
            </div>
            <div class="skew">
                skew
            </div>
            <div class="matrix">
                matrix
            </div>
        </body> 
    </div>
 </div>

 <div class="card">
    <div class="card-body">
        <h1 class="card-title">CSS TRANSACTION PROPERTY</h1>
        <body>
            <div class="transaction"></div>
        </body> 
    </div>
 </div>

 <div class="card">
    <div class="card-body">
        <h1 class="card-title">CSS  ANIMATIONS</h1>
        <body>
            <div class="animations"></div>
        </body> 
    </div>
 </div>
 