.card{
    margin: 50px;
    text-align: center;
}

.translate{
    width: 300px;
    height: 100px;
    background-color: yellow;
    transform: translate(30px,10px);

    /*
    The translate() method moves an element from its current position:
    */
}

.rotate{
    width: 300px;
    margin-top: 50px;
    height: 100px;
    background-color: yellow;
    transform: rotate(10deg)

    /*
            + => clock wise
            - => anti clock wise
    */
}

.scale{
    width: 300px;
    margin-top: 50px;
    height: 100px;
    background-color: yellow;
    transform: scale(1,1)
}

.scalex{
    width: 300px;
    margin-top: 50px;
    height: 100px;
    background-color: yellow;
    transform: scaleX(2)
}

.scaley{
    width: 300px;
    margin-top: 100px;
    height: 100px;
    background-color: yellow;
    transform: scaleY(2)
}

.skew{
    width: 300px;
    margin-top: 100px;
    height: 100px;
    background-color: yellow;
    transform: skew(20deg , 20deg)
}

.matrix{
    width: 300px;
    margin-top: 100px;
    height: 100px;
    background-color: yellow;
    transform: matrix(1, -0.3, 0, 1, 0, 0);

    /*
         The matrix() method combines all the 2D transform methods into one.
         The parameters are as follow: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())
    */
}

.transaction{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s , transform 2s;
}

.transaction:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}


.animations{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example{
    from{
        background-color: red;
    }
    to{
        background-color: yellow;
    }
}