<div class="card">
    <div class="card-body">
        <h1 class="card-title">LINEAR GRADIENT</h1>
        <body>
            <h1>Linear Gradient - Top to Bottom</h1>
            <p>This linear gradient starts red at the top, transitioning to yellow at the bottom:</p>
            <div id="grad"></div>
            <div id="grad2"><b>0 deg</b></div>
            <div id="grad3"><b>90 deg</b></div>
            <div id="grad4"><b>180 deg</b></div>
            <div id="grad5"><b>-90 deg</b></div>
        </body>
    </div>
 </div>
 