.card{
    margin: 50px;
    text-align: center;
}

/*
    The descendant selector matches all elements that are descendants of a specified element.
*/
.combinator p{
    background-color: yellow;
}

/*
    The child selector selects all elements that are the children of a specified element.
*/
.combinator > p{
    background-color:  yellow;
}

/*
    The adjacent sibling selector is used to select an element that is directly after another specific element.
*/

.combinator + p{
    background-color:  yellow;
}

/*
    The general sibling selector selects all elements that are next siblings of a specified element.
*/
.combinator ~ p{
    background-color:  yellow;
}