<div class="card" >
    <div class="card-body">
      <h1 class="card-title">Welcome to CSS tutorial</h1>
      <button routerLink='/home/css-selectors' class="btn btn-primary card-link">Selectors</button>
      <button routerLink='/home/back-ground' class="btn btn-primary card-link">Backgrounds</button>
      <button routerLink='/home/border' class="btn btn-primary card-link">Border</button>
      <button routerLink='/home/text' class="btn btn-primary card-link">Text</button>
      <button routerLink='/home/link' class="btn btn-primary card-link">Link And Positions</button>
      <button routerLink='/home/z-index' class="btn btn-primary card-link">z-index</button>
      <button routerLink='/home/display-property' class="btn btn-primary card-link">Display property</button>
      <button routerLink='/home/css-combinatore' class="btn btn-primary card-link">CSS combinators</button>
      <button routerLink='/home/pseudo-classes' class="btn btn-primary card-link"> Pseudo classes</button>
      <button routerLink='/home/gradient' class="btn btn-primary card-link">Gradient</button>
      <button routerLink='/home/transform' class="btn btn-primary card-link">Transforms</button>
      <button routerLink='/home/flex' class="btn btn-primary card-link">Display flex</button>
      <button routerLink='/home/flex2' class="btn btn-primary card-link">Display flex2</button>
    </div>
 </div>
 