<div class="card">
    <div class="card-body">
      <h1 class="card-title">CSS PSEUDO CLASSES</h1>
    </div>
    <div class="container">
        <p><b><a href="default.asp" target="_blank">This is a link</a></b></p>
     </div>

     <div class="onHover">
        Hover over this div element to show the p element
        <p class="text">
            Tada! Here I am!
        </p>
     </div>

 </div>
 
 <!-- first child -->


<body>
    <div class="first-child">
        <h1 class="card-title">FIRST CHILD</h1>
        <p>I am a <i>strong</i> person. I am a <i>strong</i> person.</p>
        <p>I am a <i>strong</i> person. I am a <i>strong</i> person.</p>
    </div>
    <div class="pseudo-element">
        <h1 class="card-title">PSEUDO-ELEMENTS</h1>
        <p class="first-letter">This is an introduction.</p>
        <p class="first-line">
            You can use the ::first-line pseudo-element to add a special effect to the first line of a text. Some more text. And even more, and more, and more, and more, and more, and more, and more, and more, and more, and more, and more, and more.
        </p>
    </div>

    <div class="attribute-selector">
        <h1 class="card-title">ATTRIBUTE SELECTORS</h1>
        <a href="http://www.disney.com" target="_blank">disney.com</a>
    </div>
    <div class="important">
        <h1 class="card-title">!IMPORTANT RULE</h1>
        <p class="myclass">This is some text in a paragraph.</p>
        <p id="myid">This is some text in a paragraph.</p>

    </div>
</body>

