<div class="card">
    <div class="card-body">
      <h1 class="card-title">CSS BORDER</h1>
      <p class="solid">A dotted border.</p>
    </div>  

    <div class="card-body">
        <h1 class="card-title">CSS MARGIN</h1>
        <p class="m1">Using individual margin propertie</p>
     </div>

     <div  class="card-body">
        <div class="margin-auto">
            This div will be horizontally centered because it has margin: auto;
        </div>
     </div>

     <div  class="card-body">
        <div class="margin">
            <p class="margin-inherit">This div will be horizontally left because it has margin: inherit;</p>
        </div>
     </div>

     <div class="card-body">
        <h1 class="card-title">CSS PADDING</h1>
        <p class="padding">Using individual padding propertie</p>
     </div>

     <div class="card-body">
        <h1 class="card-title">CSS OUTLINE</h1>
        <p class="outline">A dotted outline</p>
     </div>
 </div>
 